.user-wrapper {
  border: 1px solid gray;

  .title {
    display: flex;
    justify-content: space-between;

    .btn {
      padding: 5px 15px;
      border: 0;
      margin: 5px;
      background-color: blue;
      color: white;
    }
  }
  .name {
    margin: 0 5px;
    padding: 0;
  }
  .details {
    p {
      margin: 0 2px;
    };
  }

}
